.DS_Store
my_notebooks/data/*
my_notebooks/checkpoints/*
*.pdf

*.SUNet
*.pyc


examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py

assignments/chatbot/processed/*
